@model LightingStore_GD.Services.Models.Responses.GetCategoriesResponse

@foreach (var item in Model.Categories)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" asp-route-categoryName="@item.Name">@item.Name</a>
    </li>
}


